[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/waltertw
[access "refs/for/refs/*"]
	read = group user/waltertw
	push = group user/waltertw
	label-Code-Review = -2..+2 group user/waltertw
	label-Verified = -1..+1 group user/waltertw
	rebase = group user/waltertw
	removeReviewer = group user/waltertw
	submit = group user/waltertw
[access "refs/heads/*"]
	read = group user/waltertw
	create = group user/waltertw
	push = +force group user/waltertw
	pushMerge = group user/waltertw
[access "refs/tags/*"]
	push = +force group user/waltertw
	pushTag = group user/waltertw
	pushSignedTag = group user/waltertw
